section.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    max-width: 1380px;
    height: 100vh;
    overflow-y: auto;

    margin: 0 auto;
    padding: 1rem 3rem;

    border-left: 4px solid rgb(89, 110, 124);
    border-right: 4px solid rgb(89, 110, 124);
    border-radius: 10px;

    &::-webkit-scrollbar {
        width: 0;
    }
}