div.card-container {
    display: flex;
    flex-direction: column;

    height: 17rem;
    width: 14rem;

    box-shadow: 1px 2px 15px 0px #8f8f8f;
    border-radius: 10px;

    img.pokemon {
        height: 70%;
        width: 100%;
        object-fit: contain;

        background-color: rgb(184, 199, 210);
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    }

    div.info {
        background-color: #ffffff;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
        padding: 0.1rem 1rem 0.7rem 1rem;

        &>div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        h3 {
            font-size: 1.4rem;
            font-family: 'Ubuntu';
        }

        img.pokeball {
            width: 1.5rem;
            cursor: pointer;
        }

        p {
            display: inline-block;
            color: #fff;
            font-weight: 600;
            text-align: center;

            width: fit-content;
            margin-right: 0.2rem;
            margin-top: 0.5rem;
            padding: 0.1rem 0.5rem 0.15rem 0.5rem;

            background-color: rgb(72, 105, 136);
            border-radius: 6px;
        }
    }
}