header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 7vh;
    padding: 0.5rem 0;

    background-color: rgb(10, 20, 33);
    border-bottom: 2px solid rgb(102, 124, 138);

    a.logo {
        display: flex;
        align-items: center;

        img {
            height: 2.85rem;
        }
    }

    div.actions {
        display: flex;
        gap: 1.8rem;

        button {
            width: 8rem;

            font-size: 1.1rem;
            font-family: 'Ubuntu';

            padding-block: 0.1rem;

            color: rgb(146, 159, 169);

            background: none;
            border: 2px solid rgb(108, 120, 128);
            border-radius: 8px;
            outline: none;
        }
    }

    a.favorites {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        font-size: 1.35rem;
        font-family: 'Ubuntu';
    }
}