main.favorites {
    padding: 2rem 1rem;
    background-color: rgb(37, 64, 88);
    min-height: 80vh;

    section.cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        place-items: center;
        
        height: fit-content;
        max-height: 100vh;
        overflow-y: auto;

        border-left: 4px solid rgb(89, 110, 124);
        border-right: 4px solid rgb(89, 110, 124);
        border-radius: 10px;

        h2 {
            color: rgb(187, 192, 195);
        }

        &::-webkit-scrollbar {
            width: 0;
        }
    }
}