main.detail {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 90vh;

    padding: 2rem 1rem;
    background-color: rgb(14, 38, 59);

    div.detail-container {
        display: flex;
    }

    picture {
        display: flex;
        align-items: last baseline;
        justify-content: center;

        width: 25rem;
        padding-bottom: 5rem;

        background: url('../../assets/background.webp') center center no-repeat;
        background-size: cover;

        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        img {
            width: 60%;
        }
    }

    div.info {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        height: 40rem;
        width: 25rem;
        padding: 2rem;

        background-color: rgb(218, 240, 255);

        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        h2 {
            font-size: 2rem;
            font-family: 'Ubuntu';
            margin-bottom: 1rem;
            align-self: center;
        }

        p {
            font-size: 1.2rem;
            font-weight: 400;
            margin: 0 0 1rem 1rem;
        }

        p.type {
            margin-bottom: 0;
        }
    }
}