main.error {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80vh;
    width: 100%;

    background-color: rgb(14, 38, 59);

    img {
        max-width: 26rem;
        width: 90%;
    }
}